deny from 195.239.227.18 
deny from 194.84.132.18
deny from 62.32.47.130
deny from 62.32.63.235

#apache
AddHandler parser3-handler html
#AddHandler parsed-html html
#Action parsed-html /cgi-bin/debug/parser3
#Action parsed-html /cgi-bin/release/parser3
#Action parsed-html /cgi-bin/ReleaseHEAD/parser3
#Action parsed-html /cgi-bin/DebugHEAD/parser3
#Action parsed-html /cgi-bin/ProfileDebug/parser3
#Action parsed-html /cgi-bin/DebugV7/parser3
#Action parsed-html /cgi-bin/p2Debug/parser2
#Action parsed-html /cgi-bin/release310/parser3
#Action parsed-html /cgi-bin/release308/parser3
#Action parsed-html /cgi-bin/release311/parser3
#Action parsed-html /cgi-bin/release312/parser3
#Action parsed-html /cgi-bin/release313/parser3
