#apache
#AddHandler parser3-handler html
AddHandler parsed-html html
#Action parsed-html /cgi-bin/debug/parser3
Action parsed-html /cgi-bin/release/parser3
#Action parsed-html /cgi-bin/ReleaseHEAD/parser3
#Action parsed-html /cgi-bin/DebugHEAD/parser3
#Action parsed-html /cgi-bin/ProfileDebug/parser3
#Action parsed-html /cgi-bin/DebugV7/parser3
#Action parsed-html /cgi-bin/p2Debug/parser2
#Action parsed-html /cgi-bin/release310/parser3
#Action parsed-html /cgi-bin/release308/parser3
#Action parsed-html /cgi-bin/release311/parser3
#Action parsed-html /cgi-bin/release312/parser3
#Action parsed-html /cgi-bin/release313/parser3
#Action parsed-html /cgi-bin/release314/parser3

AddType image/x-icon ico
AddType text/xml xsl


RewriteEngine on
RewriteBase /

DirectoryIndex index.html index.htm

RewriteRule ^(store)/ - [L]

# если идем в админ или на 404 ошибку - не фиг ничего рерайтить вовсе
RewriteRule ^(admin)/ - [L]
RewriteRule ^(i)/ - [L]
RewriteRule ^_ - [L]
RewriteRule \.(gif|jpg|png|js|css|exe|zip|rar|pdf|rtf|doc|xls|ppt|swf|ipx|txt|xslt|xsl|tif|eps|tiff|ico|ent|chm|cfm|gz|htm)$ - [L]

# если обратились к директории, и нету закрывающего слеша - редиректим и исправляем это
RewriteCond %{REQUEST_URI} !\.
RewriteRule ^(.+[^/])$ http://%{SERVER_NAME}/$1/ [L,R,QSA]

# разрешаем смотреть preview, debug и xml только "своим"
RewriteCond %{QUERY_STRING} mode=(preview|xml|xmlj|debug)
RewriteCond %{REMOTE_ADDR} !^213\.152\.135
RewriteRule (.*) /_doc.html?request=/404/ [L]

# рерайты для новостных разделов (если это не надо - закомментировать)
RewriteRule ^(.+)/?([0-9]{4})/([0-9]{2})/$	 $1/?year=$2&month=$3 [PT,QSA]

RewriteRule (.*)  /_doc.html?request=$1 [L,QSA]

ErrorDocument 404 /_doc.html?request=/404/&error=404
